.buttonPrimary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 3px;
  color: #222;
  background: #af9a7d;
  padding: 0.4rem 0.9rem;
  border: 3px solid #af9a7d;
  transition: all 0.3s linear;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background: transparent;
    color: #af9a7d;
  }
}