.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 40px 60px;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 3px;

  h1 {
    font-size: 2.5rem;
  }

  div {
    width: 10rem;
    height: 5px;
    background: #af9a7d;
    margin: 1.7rem auto;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}